.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #03ac0e;
    width: 100%;
}

.navbar h1{
    font-size: 24px;
    color: #fff;
    margin-left: 10px;
}

.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
    width: 80%;
    gap: 10px;
    text-align: right;    
}

.nav-items p:nth-child(1){
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

.nav-items .logout{
    font-size: 24px;
    color: #fff;
    margin-top: 27px;
    margin-right: 15px;
    cursor: pointer;
}

.nav-items .logout:hover{
    color: #5FE05E;
    font-weight: bold;
    transition: .2s ease color;
}

.navbar .nav-toggle{
    display: none;
}

@media screen and (max-width:550px){
    .navbar .nav-items{
        position: absolute;
        top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #07bc0c;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: all .45s;
        z-index: 1;
    }

    .navbar .nav-items.open{
        transform: translateX(0);
    }

    .navbar .nav-toggle{
        display: flex;
        width: 30%;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .nav-toggle .hamburger{
        position: relative;
        width: 32px;
        height: 2px;
        background: #ffffff;
        transition: all 0.45s ease-in-out;
    }

    .nav-toggle .hamburger::before,
    .nav-toggle .hamburger::after{
        content: "";
        position: absolute;
        height: 2px;
        background: #ffffff;
        border-radius: 2px;
        transition: all 0.45s ease-in-out;
    }

    .nav-toggle .hamburger::before{
        width: 32px;
        transform: translateY(-8px);
        right: 0;
    }

    .nav-toggle .hamburger::after{
        width: 32px;
        transform: translateY(8px);        
    }

    .nav-toggle.open .hamburger{
        transform: translateX(-40px);
        background: transparent;
    }

    .nav-toggle.open .hamburger::before{
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }

    .nav-toggle.open .hamburger::after{
        width: 32px;
        transform: rotate(-45deg) translate(26px, 26px);
    }
}