.detail-container{
    width: 100%;
    height: 100%;
    background-color: #000;    
    color: #fff;   
}

.detail-container a.icon{
    position: absolute;
    margin: 12px 10px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    padding: 8px;    
    z-index: 3;
}

.detail-container a.icon:hover{
    scale: 1.5;
    transition: .5s ease scale;
}

.detail-container .backdrop-img{
    width: 100%;    
    height: 100%;    
    position: fixed;
    filter: brightness(25%);
    z-index: 1;    
    object-fit: cover;
}

.detail-content{
    display: flex;    
    width: 100%;  
    height: 100%;
    gap: 20px;
    position: absolute;
    top: 0;
    z-index: 2;
}

.detail-content-left{
    padding: 10px;
}

.detail-content-left .poster-img{
    border: 2px solid #fff;
    border-radius: 5px;
    height: 70%;    
}

.detail-content .detail-content-left span{
    font-weight: bold;
    font-size: 18px;
}

.detail-content .detail-content-right .p-tagline{
    font-style: italic;
}

.detail-content-right {
    width: 100%;
    padding-right: 5%;
}

@media screen and (max-width:700px){
    .detail-content-left .poster-img{
        border: 2px solid #fff;
        border-radius: 5px;
        height: 50%;
    }
}

@media screen and (max-width:600px){    
    .detail-content-left .poster-img{
        border: 2px solid #fff;
        border-radius: 5px;
        height: 50%;
    }

    .detail-content-left p{
        font-size: 12px;
    }    

    .detail-content .detail-content-left span{
        font-weight: bold;
        font-size: 14px;
    }
    
    .detail-content-right{
        padding-right: 15%;
    }

    .detail-content-right h1{
        font-size: 18px;
    }

    .detail-content-right h2{
        font-size: 18px;
    }

    .detail-content-right p{
        font-size: 12px;
    }

    @media screen and (max-width:550px){
        .detail-content-left .poster-img{
            border: 2px solid #fff;
            border-radius: 5px;
            height: 25%;
        }
    }

    @media screen and (max-width:350px){
        .detail-content-left .poster-img{
            border: 2px solid #fff;
            border-radius: 5px;
            height: 20%;
        }
    }
}