.footer-container{
    border-top: 2px solid #fff;
    background-color: #03ac0e;
    width: 100%;
    height: 14vh;    
}

.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    color: #fff;
}

.footer-content p{
    margin-top: 25px;        
    font-size: 18px;
    margin-left: 20px;
    margin-top: 45px;
}

a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;    
}

a:hover{
    color: #0a0a0a;
    font-weight: bold;
}

.footer-content ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    margin-right: 20px;
    margin-top: 45px;    
}

@media screen and(max-width:640px){
    .footer-container .footer-content p{       
        
    }

    .footer-container .footer-content ul{
        
    }
}